.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: #0f172a;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.logo span {
  color: #38bdf8;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover,
.nav-links a.active {
  color: #38bdf8;
}

.btn-wa {
  background: #22c55e;
  padding: 8px 14px;
  border-radius: 6px;
  color: #fff !important;
}
